/* VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Abel&family=Bowlby+One&display=swap');
:root {
    /* fonts */ 
    --header-font: 'Bowlby One', impact;
    --accent-font: 'Abel', verdana; 
    --body-font: 'ABeeZee', helvetica;
    /* colors */ 
    --light-accent: #F5F3EB; 
    --main-accent: #7FA4AD;
    --second-accent: #DE9D49;
}

/* GENERAL */
body {
    background: var(--light-accent);
    font-family: var(--body-font);
}
.container {
    width: 50%;
    margin: 2em auto;
    padding: 1em 3em 3em 3em;
    border-radius: 1em;
    background: white;
    box-shadow: 2px 2px #ddd;
}
h1 {
    margin: 0;
    color: var(--main-accent);
    font-family: 'Bowlby One', impact;
    font-size: 4em;
    text-align: center;
}
h2 {
    color: var(--second-accent);
    margin: 0.5em 0;
}
a {
    font-family: var(--accent-font);
    text-decoration: none;
    color: var(--main-accent);
}
.callout {
    background: #eee;
    padding: 0.5em;
    border-radius: 1em;
    text-align: center;
    font-family: var(--accent-font);
    font-weight: 400;
}

/* PETS */ 
.pets-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
}
.pets-container img {
    width: 100%;
    border-radius: 1em;
    display: block;
    margin-bottom: 0.5em;
}
.pet {
    width: 46%;
    margin: 0 0.5em;
}

/* FACTS */
.facts-container {
    width: 100%;
    margin-bottom: 1em;
}
input, textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    padding: 1em;
    box-sizing: border-box;
}
textarea {
    resize: vertical;
}
input:focus, textarea:focus {
    outline: none;
    border: 1px solid var(--main-accent);
}
input[type="submit"] {
    border: none;
    background: var(--second-accent);
    font-family: var(--header-font);
    font-size: 1em;
    letter-spacing: 1px;
    color: whitesmoke;
    padding: 0.5em;
    transition-property: background;
    transition-duration: 0.2s;
}
input[type="submit"]:hover {
    cursor: pointer;
    background: var(--main-accent);
}