<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
    <div>
        <H1>Submit Fax</H1>
        <form>
            <label for="author">Your Name</label>
            <input type="text" name="author"/>

            <br>

            <label for="fact">Your Animal Fact</label>
            <textarea name="fact">

            </textarea>
            <input type="submit" value="Submit Your Fact"/>
        </form>
        <a href="/pets"><-- Go Back</a>
    </div>
</body>
</html>